.sidebar {
  margin: 15px;
  border: 2px solid darkblue;
  padding: 4px;
  background: lightblue;
  float: right;
}

.column {
  width: 300px;
  float: left;
}
img {
  float: right;
  padding-right: 200px

}
